{% extends "layouts/base_reset_password.html" %}

{% block title %} Reset Password {% endblock %}

{% block content %}
    <div class="split-container">
        <div class="form-panel">
        
            <h2 class="title">Reset Password</h2>
            <form class="form-style" method="POST" action="{{ url_for('auth.reset_password') }}">
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}

                <div class="floating-label">
                    {{ form.email(placeholder=" ") }}
                    <label for="email">Email</label>
                </div>
            
                <div class="floating-label" style="position: relative;">
                    {{ form.new_password(placeholder=" ", id="new-password-input") }}
                    <label for="new_password">New Password</label>
                </div>
                
                <div class="floating-label" style="position: relative;">
                    {{ form.confirm_new_password(placeholder=" ", id="confirm-new-password-input") }}
                    <label for="confirm_new_password">Confirm New Password</label>
                </div>

                <div id="spinner" class="spinner" style="display:none;"></div>
            
                <button type="submit" class="btn-style">Reset Password</button>
        
            </form>
        
            <p>
                <a class="centered-link" href="{{ url_for('auth.login') }}">Back to login</a>
            </p>

            {% if form.errors %}
            
                <ul>
                    {% for field, errors in form.errors.items() %}
                        {% for error in errors %}
                            <p class="error-message">{{ field }} - {{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </ul>
            
            {% endif %}

            {% if messages %}
            
                {% for message in messages %}
                    <p class="success-message">{{ message }}</p>
                {% endfor %}
        
            {% endif %}
        
        <script src="{{ url_for('static', filename='js/reset_password.js') }}"></script>

        </div>
        
        <div class="image-panel">
            <img src="{{ url_for('static', filename='img/Screenshot_23.png') }}" alt="Reset Image">
        </div>

    </div>

{% endblock %}